<div class="modal-container">
  <div class="content">
    <img src="assets/icon/car.png" alt="Autito" class="car-image" />
    <h2 class="modal-title">¡TeLlevoAPP!</h2>
    <p class="modal-description">Bienvenidos a ¡TeLlevoAPP!</p>
    <p class="modal-description">Somos una comunidad de estudiantes con un objetivo simple: ayudarte a llegar a tu destino de manera rápida y conveniente.</p>
    <p class="modal-description">¿Necesitas un viaje para llegar a clase, a tu casa o a cualquier lugar que desees? Estamos aquí para ti.</p>
    <p class="modal-description">Nuestros conductores, también estudiantes como tú, están dispuestos a llevarte a donde necesites ir. Sin complicaciones, sin demoras.</p>
    <p class="modal-description">¡TeLlevoAPP hace que llegar a tu destino sea tan fácil como presionar un botón!</p>
  </div>
</div>
